TELEGRAM_BOT_TOKEN=your-telegram-bot-token
IONOS_PASSWORD=your-ionos-ssh-password
IONOS_USER=your-ionos-ssh-username
IONOS_HOST=your-ionos-hostname.webspace-host.com
ROOK_CHAT_ID=optional-telegram-group-chat-id-for-rook-notifications
