<span class="sys">Welcome back. You have been away for 30 years.</span>
<span class="sys">The pirates never really left -- they just got jobs.</span>
<span class="sys">Like Guybrush said: "I want to be a mighty pirate."</span>
<span class="sys">Like Zak said: nothing. He just did the work.</span>
