---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>marcus-cyborg</title>
  <subtitle>Left analysis of tech and labor.</subtitle>
  <link href="https://working-notes.org/feed.xml" rel="self"/>
  <link href="https://working-notes.org/"/>
  <updated>{{ collections.posts[0].date | dateToRfc3339 }}</updated>
  <id>https://working-notes.org/</id>
  <author>
    <name>Marcus + Glean</name>
  </author>
  {% for post in collections.posts | head(20) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://working-notes.org{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>https://working-notes.org{{ post.url }}</id>
    <content type="html">{{ post.templateContent | escape }}</content>
  </entry>
  {% endfor %}
</feed>
